.navbar-collapse {
  align-items: stretch;
}

.sidebar, .navbar-collapse {
  width: 250px;
  max-width: 250px;
  height: 100%;

}

@media (max-width: 992px) {

  .sidebar, .navbar-collapse {
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    color: white;
  }
}
.sidebar-menu li {
  padding: 5px 10px;
}

.sidebar-menu li ul {
  padding: 5px;
}

@media (max-width: 992px) {
  ul li:not(.active):hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

  ul.collapse li:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

  .sidebar-menu li a, .sidebar-menu li ul li a {
    color: white;
  }
}

@media (min-width: 993px) {

  ul li:not(.active):hover{
    background-color: #f8f9fa;
  }

  ul.collapse li:hover{
    background-color: #f8f9fa;
  }

  .sidebar-menu li a, .sidebar-menu li ul li a {
    color: black;
  }
}

.sidebar-menu li a, .sidebar-menu li ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  /*color: black;*/
}

ul.sidebar-menu li.active a.dropdown-toggle::after {
  transform: rotate(-180deg);
}
